.title-bg{
    background-image: url('../images/abstract-bg-2.png');
    width:100%;
    min-height: 625px;
    background-size: auto 100%;
}

section h4.heading {
    font-size: 18px;
    color: #333;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 0;
}